hr{
   border: 1px solid var(--border-dark);
}

.chatControl{
   background-color: var(--bg-main-dark);
   padding: 5px;
   border: 2px solid var(--border-dark);
   border-radius: 15px;
   width: 30vw;
}

.chatControl__menu{
   display: flex;
   align-items: center;
   justify-content: space-around;
   height: 69px;
}

.chatControl__menu>*{
   width: 100%;
   height: 100%;
   
   border-bottom: 2px solid var(--border-dark);
   display: flex;
   justify-content: center;
   align-items: center;

   color: var(--icon-collor-dark);
}

.chatControl__search{
   height: 55px;
   width: 100%;
   
   display: flex;
   justify-content: space-between;
}

.chatControl__search>*{
   margin: 5px;
   border: 2px solid var(--border-dark);
   border-radius: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--bg-second-dark);
   color: var(--icon-collor-dark);
   width: 100%;
}

.chatControl__search button {
   width: 79px;
}
.chatControl__search button *{
   width: 60%;
   height: 60%;
}

.chatControl__archive{
   min-height: 70%;
   overflow-y: scroll;
}
