.chat{
   background-color: var(--bg-main-dark);

   height: 100%;
   width: 100%;

   border-radius: 15px;
   border: 2px solid var(--border-dark);
   
   margin-left: 18px;

   display: flex;
   flex-direction: column;
}