.chat__keyboard{
   height: 20%;
}

.chat__keyboard__draft{
   height: 70%;

   padding: 5px;   

   border-bottom: 1px solid var(--border-dark);

   display: flex;
}
.chat__keyboard__draft img{
   height: 15px;

   margin: 0 10px;
}

.chat__keyboard__draft textarea{
   background-color: var(--bg-main-dark);
   color: var(--border-dark);

   width: 100%;

   border: 2px solid var(--border-dark);
   border-radius: 5px;;
}

.chat__keyboard_configs{
   height: 30%;

   display: flex;
   justify-content: space-between;
}

.chat__keyboard__configs__escrita{
   height: 100%;
   width: 10%;

   display: flex;
   justify-content: space-around;
}

.chat__keyboard__configs__escrita>*{
   height: 100%;
   width: 100%;

   display: flex;
}

.chat__keyboard__configs__actions{
   width: 40%;
   
   display: flex;
   justify-content: space-around;
}

.chat__keyboard__configs__actions>*{
   width: 100%;
   height: 100%;

   display: flex;
}

.chat__keyboard button{
   background-color: var(--bg-main-dark);
 
   border: none;
   border-radius: 15px;
   
   display: flex;
   align-items: center;
   justify-content: center;
}