.chat__header{
   display: flex;
   justify-content: space-between;
   /* background-color: var(--bg-main-dark); */
   height: 10%;
}

.chat__header *{
   margin: 2px 10px;
}

.chat__header__client, .chat__header__atendente{
   display: flex;
   align-items: center;
   display: flex;
   align-items: center;
}


.chat__header__atendente a{
   font-weight: bold;
   text-decoration: none;
}