hr{
   border: 1px solid var(--border-dark);
}

.chatControl{
   background-color: var(--bg-main-dark);
   
   width: 30vw;
   
   border: 2px solid var(--border-dark);
   border-radius: 15px;
   padding: 5px;
}

.chatControl__menu{
   height: 69px;
   
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.chatControl__menu>*{
   color: var(--icon-collor-dark);
   
   height: 100%;
   width: 100%;
   
   border-bottom: 2px solid var(--border-dark);
   
   display: flex;
   align-items: center;
   justify-content: center;
}

.chatControl__search{
   height: 55px;
   width: 100%;
   
   display: flex;
   justify-content: space-between;
}

.chatControl__search>*{
   background-color: var(--bg-second-dark);
   color: var(--icon-collor-dark);

   width: 100%;

   margin: 5px;

   border: 2px solid var(--border-dark);
   border-radius: 5px;

   display: flex;
   align-items: center;
   justify-content: center;
}

.chatControl__search button {
   width: 79px;
}

.chatControl__search button *{
   height: 60%;
   width: 60%;
}

.chatControl__archive{
   min-height: 70%;

   overflow-y: scroll;
}
