.less{
   width: 10% !important;
}

.headerMenu{
   display: flex;
   justify-content: center;
   /* height: 58px; */
   height: 8vh;
}

.headerMenu__logo{
   /* width: 65px; */
   width: 5%;
   background-color: var(--bg-main-dark);
   margin: 0 auto;
   display: flex;
   align-items: center;
   /* justify-content: center; */
}

.headerMenu__logo img{
   height: 70%;
   
}

.headerMenu_statusbar{
   background-color: var(--bg-main-dark);
   display: flex;
   justify-content: space-between;
   border: 1px solid var(--border-dark);
   align-items: center;
   width: 95%;
}

#menuHeader{
   opacity: 0;
}
   
.headerMenu_statusbar__menuMobile{
   margin-right: 10px;
   opacity: 0;
}


.statusbar__polichat {
height: 80%;
align-self: center;
margin-left: 0.5rem;
width: 10%;
}

.statusbar__accessConfig{
   display: flex;
   width: 35%;
   height: 100%;
}
.statusbar__actions{
   width: 55%;
   height: 100%;
   float: right;
}

/* statusbar__accessConfig */

.statusbar__depto{
   display: flex;
   justify-content: space-between;
   width: 45%;
}
/* 
.statusbar__depto__profile{
   height: 2em;
   width: 2em;
   background-color: var(--border-dark);
   border-radius: 50%;
   margin: auto;
   font-weight: bold;
   font-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
} */
.statusbar__whatsapp{
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 5%;
}
.statusbar__whatsapp *{
   color: rgb(47, 255, 92);
}

.poliSelect{
   display: flex;
   justify-content: center;
   width: 45%;

}


.statusbar__actions .statusbar__promo{
   display: flex;
}

.statusbar__actions .statusbar__promo__button{
   color: white;
   background-color: #fccf58;
   border: none;
   border-radius: 5px;
   height: 40px;
   width: 148.5px;
   margin: auto;
   font-size: 16px;
}

.statusbar__actions .statusbar__chanels{
   display: flex;
   max-height: 35px;
}

.statusbar__actions .statusbar__connect{
   display: flex;
}

.statusbar__remoteAccess{
   display: flex;
}

.statusbar__autofalante{
   display: flex;
}
.statusbar__theme{
   display: flex;
}

.statusbar__actions{
   display: flex;
}