.headerMenu{
   height: 8vh;
   width: 100%;

   display: flex;
   justify-content: center;
}

.headerMenu__logo{
   background-color: var(--bg-main-dark);
   
   min-width: 5%;
   
   margin: 0 auto;
   display: flex;
   align-items: center;
}

.headerMenu__logo img{
   height: 70%;
   
}

.headerMenu_statusbar{
   background-color: var(--bg-main-dark);
   
   width: 95%;
   
   border: 1px solid var(--border-dark);
   
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#menuHeader{
   opacity: 0;
}
   
.headerMenu_statusbar__menuMobile{
   margin-right: 10px;
   opacity: 0;
}

.statusbar__polichat {
height: 80%;
width: 10%;

margin-left: 0.5rem;

align-self: center;
}

.statusbar__accessConfig{
   width: 35%;
   height: 100%;
   
   display: flex;
}
.statusbar__actions{
   width: 55%;
   height: 100%;
   
   float: right;
}

.statusbar__depto{
   width: 45%;
   
   display: flex;
   justify-content: space-between;
}

.statusbar__whatsapp{
   width: 5%;

   display: flex;
   justify-content: center;
   flex-direction: column;
}
.statusbar__whatsapp *{
   color: rgb(47, 255, 92);
}

.poliSelect{
   width: 45%;

   display: flex;
   justify-content: center;
}

.statusbar__actions .statusbar__promo{
   display: flex;
}

.statusbar__actions .statusbar__promo__button{
   color: white;
   background-color: #fccf58;
   font-size: 16px;
 
   height: 40px;
   width: 148.5px;
   
   border: none;
   border-radius: 5px;
 
   margin: auto;
}

.statusbar__actions .statusbar__chanels{
   max-height: 35px;

   display: flex;
}

.statusbar__actions .statusbar__connect, 
.statusbar__remoteAccess, 
.statusbar__autofalante, 
.statusbar__theme, 
.statusbar__actions{
   display: flex;
}
