*{
  --bg-main-dark: #232c3d;
  --bg-second-dark: #2f3a4e;
  --border-dark: #4c576b;
  --icon-collor-dark:#fefeff;
  --alert:#ff647c;
  --selected-dark:#17b8c7;
  /* verificar se vamos manter o reset */
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
  color: var(--icon-collor-dark);
}


.App{
  background-color: green;
  border: 2px solid var(--border-dark);
  border-radius: 5px;
  /* width: 100vw;  */
  /* max-width: 100vw;
  max-height: 100vh; */
  /* max-height: 1903px; */
   /* max-width: 979px; */
}
