*{
  --bg-main-dark: #232c3d;
  --bg-second-dark: #2f3a4e;
  --border-dark: #4c576b;
  --icon-collor-dark:#fefeff;
  --alert:#ff647c;
  --selected-dark:#17b8c7;
  /* verificar se vamos manter o reset */
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
  color: var(--icon-collor-dark);
}


.App{
  background-color: green;
  border: 2px solid var(--border-dark);
  border-radius: 5px;
}

/* asain apagar */
@media (min-width: 1920px){
    
  .App{
    --border-dark: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    width: 1920px;
    margin: 0 auto;
  }

    .headerMenu{
       width: 1920px;
    }

}