*{
  --bg-main-dark: #232c3d;
  --bg-second-dark: #2f3a4e;
  --border-dark: #4c576b;
  --icon-collor-dark:#fefeff;
  --alert:#ff647c;
  --selected-dark:#17b8c7;
  
  box-sizing: border-box;
  
  color: var(--icon-collor-dark);
  
  padding: 0;
  margin: 0px;
}

.App{
  background-color: var(--bg-main-dark);

  border: 2px solid var(--border-dark);
  border-radius: 5px;
}

.App *::-webkit-scrollbar {
  width: 5px;
}

.App *::-webkit-scrollbar-thumb {
 background-color: var(--selected-dark);
  border-radius: 20px;
  scrollbar-width: 2px;
}

@media (min-width: 1920px){
    
  .App{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    width: 1920px;
    margin: 0 auto;
  }
}

@media (max-width: 720px){

  .App{
    min-width: 720px;
  }

  .menuHeader{
    display: block;
    float: right;
    }

  .chatControl{
    display: none;
  }
  .chatSection{
    padding: 0 !important;
  }
  .chat{
    margin: 0 !important;
  }

  .headerMenu_statusbar__menuMobile{
    margin-right: 10px;
    opacity: 100% !important;
 }
  .statusbar__actions{
    background: var(--bg-main-dark);
    
    text-align: center;

    position: fixed;
    width: 10vh !important;
    height: 100vh;
    top: 2px;
    left: -10000px;
    transition: all .5s;
    flex-direction: column;
  }
  .statusbar__actions li{
    height: 10% !important;
  }

  #menuHeader:checked ~ ul{
    left: 0;
  }

  .statusbar__theme{
    transform: rotate(90deg);
  }
  .statusbar__promo{
    display: none !important;
  }
}